<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91619782671-7mtea6usi1nc5o29btu8kumu6ar9jott.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91619782671-7mtea6usi1nc5o29btu8kumu6ar9jott</string>
	<key>API_KEY</key>
	<string>AIzaSyAW31JSUDwuVb6Z6rjVUh5HVNTwY2LtadU</string>
	<key>GCM_SENDER_ID</key>
	<string>91619782671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliapps.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-3c138</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-3c138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91619782671:ios:ab783df7372f1a632c737a</string>
</dict>
</plist>